.loader {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
}
.loader .spinner {
  width: 64px;
  height: 64px;
}
.loader .spinner:after {
  content: " ";
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid #fff;
  border-color: #1ba749 transparent #1ba749 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}